<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="oleDbConnection1.ConnectionString" value="Jet OLEDB:Database Locking Mode=1;Data Source=&quot;.\nwind.mdb&quot;;Jet OLEDB:Engine Type=5;Provider=&quot;Microsoft.Jet.OLEDB.4.0&quot;;Jet OLEDB:System database=;Jet OLEDB:SFP=False;persist security info=False;Extended Properties=;Mode=Share Deny None;Jet OLEDB:Encrypt Database=False;User ID=Admin" />
	</appSettings>
</configuration>